{{> header }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Node.js</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit eos eveniet necessitatibus praesentium
            nisi aliquid, magni ut reprehenderit quos. Dolor pariatur dolorum laborum id blanditiis, totam repudiandae
            corporis provident assumenda?</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail" src="assets/img/nodejs.png" alt="nodejs">
    </div>
</div>

{{> footer }}